/* Base */

body {
    margin: 0;
    background-color: ;
    color: ;
    font-family: ;
    font-weight: ;
    font-size: 1rem;
    line-height: 1.5;
}

header {
    position: fixed;
    width: 60rem;
    background-color: rgb(240, 248, 255, 0.5);
    text-align: center;
    left: 16.7%;
}

h2 {
    text-transform: uppercase;
}

button {
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    color: green;
}

/* Main Page */
.main-page {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(51, 100, 56);
    width: 60rem;
    margin: 1rem auto 0;
    padding: 3rem 0;
    border-radius: 1rem;
    border: solid 1.5rem rgb(93, 66, 31);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    color: white;
}
.dealer {
    width: 20rem;
}
/* In-Game Page */

.in-game {
    display: none;
}

.in-game img {
    width: 8rem;
    position: absolute;
    z-index: -1;
}

/* -------- Dealer Card --------- */

/* First Card - Front */
.dealer-hand img:first-of-type {
    right: 45rem;
    top: 4rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:first-of-type.flip {
    transform: rotateY(360deg);
}

/* First Card - Back */

.dealer-hand img:nth-of-type(2) {
    position: fixed;
    right: -100%;
    top: 4rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(2).flip {
    right: 45rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Second Card - Front */

.dealer-hand img:nth-of-type(3) {
    right: 40rem;
    top: 5rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(3).flip {
    transform: rotateY(360deg);
}

/* Second Card - Back */

.dealer-hand img:nth-of-type(4) {
    position: fixed;
    right: -100%;
    top: 5rem;
    transition: right 0.5s ease, transform 2s;
}

.dealer-hand img:nth-of-type(4).flip {
    right: 40rem;
    transform: rotateY(180deg);
}

/* Third Card - Front */
.dealer-hand img:nth-of-type(5) {
    right: 35rem;
    top: 6rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(5).flip {
    transform: rotateY(360deg);
}

/* Third Card - Back */

.dealer-hand img:nth-of-type(6) {
    position: fixed;
    right: -100%;
    top: 6rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(6).flip {
    right: 35rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Fourth Card - Front */
.dealer-hand img:nth-of-type(7) {
    right: 30rem;
    top: 7rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(7).flip {
    transform: rotateY(360deg);
}

/* Fourth Card - Back */

.dealer-hand img:nth-of-type(8) {
    position: fixed;

    right: -100%;
    top: 7rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(8).flip {
    right: 30rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Fifth Card - Front */
.dealer-hand img:nth-of-type(9) {
    right: 25rem;
    top: 8rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(9).flip {
    transform: rotateY(360deg);
}

/* Fifth Card - Back */

.dealer-hand img:nth-of-type(10) {
    position: fixed;
    right: -100%;
    top: 8rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.dealer-hand img:nth-of-type(10).flip {
    right: 25rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* -------- Player Card --------- */

/* First Card - Front */
.player-hand img:first-of-type {
    right: 45rem;
    bottom: 10rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.player-hand img:first-of-type.flip {
    transform: rotateY(360deg);
}

/* First Card - Back */

.player-hand img:nth-of-type(2) {
    position: fixed;
    right: -100%;
    bottom: 10rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(2).flip {
    right: 45rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Second card - Front */
.player-hand img:nth-of-type(3) {
    right: 40rem;
    bottom: 9rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(3).flip {
    transform: rotateY(360deg);
}

/* Second card - Back */

.player-hand img:nth-of-type(4) {
    position: fixed;
    right: -100%;
    bottom: 9rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(4).flip {
    right: 40rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Third card - Front */

.player-hand img:nth-of-type(5) {
    right: 35rem;
    bottom: 8rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(5).flip {
    transform: rotateY(360deg);
}

/* Third Card - Back */

.player-hand img:nth-of-type(6) {
    position: fixed;
    right: -100%;
    bottom: 8rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(6).flip {
    right: 35rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Fourth card - Front */

.player-hand img:nth-of-type(7) {
    right: 30rem;
    bottom: 7rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(7).flip {
    transform: rotateY(360deg);
}

/* Fourth Card - Back */

.player-hand img:nth-of-type(8) {
    position: fixed;
    right: -100%;
    bottom: 7rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(8).flip {
    right: 30rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Fifth card - Front */

.player-hand img:nth-of-type(9) {
    right: 25rem;
    bottom: 6rem;
    transform: rotateY(180deg);
    transition: transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(9).flip {
    transform: rotateY(360deg);
}

/* Fifth Card - Back */

.player-hand img:nth-of-type(10) {
    position: fixed;
    right: -100%;
    bottom: 6rem;
    transition: right 0.5s ease, transform 2s;
    backface-visibility: hidden;
}

.player-hand img:nth-of-type(10).flip {
    right: 25rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Points */

.dealer-points,
.player-points {
    font-size: 2rem;
    position: absolute;
}

.dealer-points {
    top: 5rem;
    right: 25rem;
}

.player-points {
    top: 24rem;
    right: 25rem;
}

.or,
.second-pts {
    display: none;
}

.popup {
    display: none;
    position: absolute;
    right: 10rem;
    top: -3rem;
    border: solid red;
    background-color: white;
    border-radius: 5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    transform: rotate(10deg);
}

.game-controls {
    display: none;
    /* display: flex; */
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    padding-bottom: 2rem;
    gap: 2rem;
}

.results {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 40%;
    background-color: rgb(255, 255, 255);
    padding: 2rem 5rem;
}
